@{
    ViewData["Title"] = "DASys";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-body ">
                <div class="row">
                  <div class="jumbotron col-lg-12 text-center">
                      <b style="font-size: 68px;font-family: inherit;color: #fe7916ba;">Bienvenido</b>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
