@{
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
    ViewData["Title"] = "Inicio > Mantenimiento > Areas";
}
@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@using Entidad
@using WEB
@model AreaConsultaDto
<div id="Area" class="col-md-12">
    <div class="card ">
        @*L: Formulario*@
        <div class="card-body ">
            <form id="formArea">
                <input type="hidden" asp-for="Accion" value="1" />
                <div class="row justify-content-around b-formulario">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" asp-for="Nombre" maxlength="150" min="2" class="form-control" required>
                            <label class="floating-label">Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-2">
                        <div class="anil_nepal">
                            <label class="switch switch-left-right">
                                @if (Model.IdEstado == "TRUE")
                                {
                                    <input asp-for="IdEstado" checked class="switch-input" type="checkbox">
                                }
                                else
                                {
                                    <input asp-for="IdEstado" class="switch-input" type="checkbox">
                                }
                                <span class="switch-label" data-on="SI" data-off="NO"></span> <span class="switch-handle"></span>
                            </label>
                            Estado
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="lu-form-actions">
                            <button type="button" class="btn btn-columbia2" id="btn-RegresarArea">Regresar</button>
                            <button type="button" class="btn btn-columbia1" id="btn-RegistrarArea">Actualizar</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="IdArea" />
                <input type="hidden" asp-for="IdEmpresa" />
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script src="@Url.Content("~/js/App/ViewJs/Equipo/Area.js")"></script>
    <script>
        urlAreaIndex = '/Equipo/Area/Index';
        urlAreaPaginado = '/Equipo/Area/Listar';
        urlRegistrarArea = '/Equipo/Area/Registrar';
        urlActualizarArea = '/Equipo/Area/Actualizar';
        urlConsultarArea = '/Equipo/Area/Consultar';
        urlEliminarArea = '/Equipo/Area/Eliminar';
        urlMantenimientoArea = '/Equipo/Area/Mantenimiento';
        nomUbigeo = '';
        $(document).ready(function () {
            Area.init();
        });
    </script>


}