@{
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
    ViewData["Title"] = "Inicio > Mantenimiento > Departamentos";
}
@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@using Entidad
@using WEB
@model DepartamentoConsultaDto
<div id="Departamento" class="col-md-12">
    <div class="card ">
        @*L: Formulario*@
        <div class="card-body ">
            <form id="formDepartamento">
                <input type="hidden" asp-for="Accion" value="1" />
                <div class="row justify-content-around b-formulario">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" asp-for="Nombre" maxlength="150" min="2" class="form-control" required>
                            <label class="floating-label">Nombre</label>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-2">
                        <div class="anil_nepal">
                            <label class="switch switch-left-right">
                                @if (Model.IdEstado == "TRUE")
                                {
                                    <input asp-for="IdEstado" checked class="switch-input" type="checkbox">
                                }
                                else
                                {
                                    <input asp-for="IdEstado" class="switch-input" type="checkbox">
                                }
                                <span class="switch-label" data-on="SI" data-off="NO"></span> <span class="switch-handle"></span>
                            </label>
                            Estado
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="lu-form-actions">
                            <button type="button" class="btn btn-columbia2" id="btn-RegresarDepartamento">Regresar</button>
                            <button type="button" class="btn btn-columbia1" id="btn-RegistrarDepartamento">Actualizar</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="IdDepartamento" />
            </form>
        </div>
    </div>
</div>



@section Scripts{
    <script src="@Url.Content("~/js/App/ViewJs/Mantenimiento/Departamento.js")"></script>
    <script>
        urlDepartamentoIndex = '/Mantenimiento/Departamento/Index';
        urlDepartamentoPaginado = '/Mantenimiento/Departamento/Listar';
        urlRegistrarDepartamento = '/Mantenimiento/Departamento/Registrar';
        urlActualizarDepartamento = '/Mantenimiento/Departamento/Actualizar';
        urlConsultarDepartamento = '/Mantenimiento/Departamento/Consultar';
        urlEliminarDepartamento = '/Mantenimiento/Departamento/Eliminar';
        urlMantenimientoDepartamento = '/Mantenimiento/Departamento/Mantenimiento';
        nomUbigeo = '';
        $(document).ready(function () {
            Departamento.init();
        });
    </script>


}