@{
    Layout = "~/Views/Shared/_LayoutCRM.cshtml";
    ViewData["Title"] = "Inicio > Mantenimiento > Terminals";
}
@addTagHelper "*,Microsoft.AspNetCore.Mvc.TagHelpers"
@using Entidad
@using WEB
@model TerminalConsultaDto
<div id="Terminal" class="col-md-12">
    <div class="card ">
        @*L: Formulario*@
        <div class="card-body ">
            <form id="formTerminal">
                <input type="hidden" asp-for="Accion" value="1" />
                <div class="row justify-content-around b-formulario">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" asp-for="Nombre" maxlength="150" class="form-control" required>
                            <label class="floating-label">Nombre</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" asp-for="IP" maxlength="100" class="form-control ip" required>
                            <label class="floating-label">IP</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="number" asp-for="Puerto" maxlength="100" class="form-control" required>
                            <label class="floating-label">Puerto</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select asp-for="IdArea" asp-items="@(new SelectList(DropDown.ListaArea("",Model.IdEmpresa),"Value","Nombre"))" required class="form-control">
                                <option value="0">Elegir Aresa</option>
                            </select>
                            <label class="floating-label">Area</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select asp-for="IdMarca" asp-items="@(new SelectList(DropDown.ListaMarca(Model.IdEmpresa,"EN0109"),"Value","Nombre"))" required class="form-control">
                                <option value="0">Elegir Marca</option>
                            </select>
                            <label class="floating-label">Marca</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select asp-for="IdModelo" required class="form-control">
                                <option value="0">Elegir Modelo</option>
                            </select>
                            <label class="floating-label">Modelo</label>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <select asp-for="IdConfiguracion" asp-items="@(new SelectList(DropDown.ListaConfiguracion(Model.IdEmpresa),"Value","Nombre"))" required class="form-control">
                                <option value="0">Elegir Configuracion</option>
                            </select>
                            <label class="floating-label">Configuracion</label>
                        </div>
                    </div>
                    <div class="col-md-12 col-md-offset-6">
                        <div class="anil_nepal">
                            <label class="switch switch-left-right">
                                @if (Model.IdEstado == "TRUE")
                                {
                                    <input asp-for="IdEstado" checked class="switch-input" type="checkbox">
                                }
                                else
                                {
                                    <input asp-for="IdEstado" class="switch-input" type="checkbox">
                                }
                                <span class="switch-label" data-on="SI" data-off="NO"></span> <span class="switch-handle"></span>
                            </label>
                            Estado
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="lu-form-actions">
                            <button type="button" class="btn btn-columbia2" id="btn-RegresarTerminal">Regresar</button>
                            <button type="button" class="btn btn-columbia1" id="btn-RegistrarTerminal">Actualizar</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" asp-for="IdTerminal" />
                <input type="hidden" asp-for="IdEmpresaPrincipal" name="_IdPadre" id="_IdPadre" />
                <input type="hidden" asp-for="IdModelo" name="_IdModelo" id="_IdModelo" />
                <input type="hidden" asp-for="IdEmpresa" />

                <input type="hidden" id="_IdModelo" asp-for="IdModelo" />
                <input type="hidden" id="_IdMarca" asp-for="IdMarca" />
                <input type="hidden" id="_IdConfiguracion" asp-for="IdConfiguracion" />
                <input type="hidden" id="_IdArea" asp-for="IdArea" />
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script src="@Url.Content("~/js/App/ViewJs/Equipo/Terminal.js")"></script>
    <script>
        urlTerminalIndex = '/Equipo/Terminal/Index';
        urlTerminalPaginado = '/Equipo/Terminal/Listar';
        urlRegistrarTerminal = '/Equipo/Terminal/Registrar';
        urlActualizarTerminal = '/Equipo/Terminal/Actualizar';
        urlConsultarTerminal = '/Equipo/Terminal/Consultar';
        urlEliminarTerminal = '/Equipo/Terminal/Eliminar';
        urlMantenimientoTerminal = '/Equipo/Terminal/Mantenimiento';
        nomUbigeo = '';
        $(document).ready(function () {
            Terminal.init();
        });
    </script>


}